[project]
	description = DISA STIG Scripts for Red Hat Enterprise Linux 6
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shawn Wells (shawndwells)
[access "refs/for/refs/*"]
	read = group user/Shawn Wells (shawndwells)
	push = group user/Shawn Wells (shawndwells)
	label-Code-Review = -2..+2 group user/Shawn Wells (shawndwells)
	label-Verified = -1..+1 group user/Shawn Wells (shawndwells)
	rebase = group user/Shawn Wells (shawndwells)
	removeReviewer = group user/Shawn Wells (shawndwells)
	submit = group user/Shawn Wells (shawndwells)
[access "refs/heads/*"]
	read = group user/Shawn Wells (shawndwells)
	create = group user/Shawn Wells (shawndwells)
	push = +force group user/Shawn Wells (shawndwells)
	pushMerge = group user/Shawn Wells (shawndwells)
[access "refs/tags/*"]
	push = +force group user/Shawn Wells (shawndwells)
	pushTag = group user/Shawn Wells (shawndwells)
	pushSignedTag = group user/Shawn Wells (shawndwells)
